@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

window {
  -moz-box-align: start;
  background-color: -moz-dialog;
  font: -moz-dialog;
  padding: 1em;
}
  
#MPMCopyPass {
  color: #8B0000;
  text-decoration:underline;
}
