@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

window {
  background-color: -moz-dialog;
  font: -moz-dialog;
}

#passHistTextArea {
	width: 360px;
	height: 150px;
  border: 1px solid #cccccc;
	padding: 5px;
}
